@import 'variables.scss';
@import 'header.scss';
* {
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  height: $unit * 7;
  align-items: center;
  &__item {
    border-radius: $border-radius;
    color: $text-color-secondary;
    padding: $unit;
    margin-left: $unit;
    font-weight: 700;
    cursor: pointer;
    background-color: $color-secondary;
    &_selected {
      background-color: $color-primary;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}
